.list-result {
    list-style: none;
}

.list-result-wrapper {
    margin-left: 100px;
}

.result-document{
    padding: 20px 25px;
}

.total-result{
    margin-left: 155px;
    font-size: 12px;
    font-weight: bold;
}