.pagination-button-container{
    margin: 15px;
    text-align: center;
}

.pagination-button-container .pagination-button{
    margin: 5px;
    width: 90px;
    font-weight: bold;
}

.pagination-button-container .span-label{
    display: block;
}